<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
@*This view is for the home screen *@

@*<style>


    @@-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @@-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

@@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


</style>*@
@{
    /**/

    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<body id="home-body" style="background-image:url(../../Content/background-campus.jpg)" ;>
    <div class="crossfade">
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
    </div>
    <h2>Home Page</h2>
    @if (Request.IsAuthenticated)
    {
    <div class="Welcome-user">Welcome @HttpContext.Current.User.Identity.Name</div> 
        <a class="buttons button1" href="~/User/Survey">Take Survey</a>
        <div class="container-home">
            <div class="content">
                <h1>Culverhouse Career Analytics</h1>

            </div>
        </div>

    }
    else
    {
        <p>Please Log in First</p>
    }


</body>