@*This view allows a user to request a password change. It will call the action ForgotPassword which will 
    send an email to a valid user with a link to reset their password*@
@{
	ViewBag.Title = "ForgotPassword";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<h2>Forgot Password</h2>
<body id="ForgotPW-body">
	@using (Html.BeginForm())
	{<div id="box-forgotpassword">
			<h2 style="color:white">Password Reset</h2>
			<div class="form-horizontal">
				<hr />
				<table cellpading="4" cellspacing="20">

					<tr>
						<div class="text-success">
							@ViewBag.Message
						</div>
					</tr>

					<tr>
						<td>
							@Html.TextBox("EmailID", "", new { placeholder = "Enter your email" })
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Submit" class="btn btn-default" />
						</td>
					</tr>
				</table>
			</div>

		</div>

	}
</body>