


.container-home img {
	vertical-align: middle;
}

.container-home .content {
	position: absolute;
    bottom: 16%;
    font-size: large;
    left: -1px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-bottom: 20px;
    /*background-image: 
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
}

.btn-email {
    position:absolute;
}
#box-contact {
    position:absolute;
}
#message-box {
    position: absolute;

} 
#emailcontact {
	    position: absolute;
    left: 355px;
    top: 100px;
}
/*#home-body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	background-image: url("culverhouse.jpg");
		no-repeat
	background-cover:100% 100%;
}*/

 #Registration-body, #ForgotPW-body{
	background-image: url("background-campus.jpg");
}


/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 175px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select,
textarea {
    /*width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: .3s;
	position:relative;
	right:40px;*/
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    background: #5555556b;
    /*background: rgba(0, 0, 0, 0.5);*/
    outline: none;
    border: none;
    border-radius: 5px;
    /*box-shadow:inset 0px -5px 45px rgba(100,100,100,0.2), 0px 1px 1px rgba(255,255,255,0.2);*/
}

	input:focus {
		border-color: #ed1414;
		box-shadow: 0 0 8px 0 crimson;
	}

